<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Afif's Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static 'css/single.css' %}">
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<!--Header-->

	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="{% url 'blog:home' %}">
						<i class="fab fa-linode"></i>Afif</a>
				</div>
				{% if request.user.is_authenticated %}
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Welcome <b>{{user}}</b></span>

					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="{% url 'accounts:logout' %}">
							<i class="fas fa-lock"></i> Logout</a>
					</span>
					
				</div>
				{% else %}
				<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					<span>Welcome Back!</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="{% url 'accounts:login' %}">
							<i class="fas fa-lock"></i> Sign In</a>
					</span>
					<span>
						<a href="{% url 'accounts:signup' %}">
							<i class="far fa-user"></i> Register</a>
					</span>
				</div>
				{% endif %}
				<div class="col-md-4 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="#" class="dribble3 mx-2">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="#" class="pin">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
								<a class="nav-link" href="{% url 'blog:home' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Features
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for cate in categories %}
									<a class="dropdown-item" href="{% url 'blog:category' cate.slug %}">{{cate.name}}</a>
									<div class="dropdown-divider"></div>
								{% endfor %}
								

							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>

					</ul>
					<form action="{% url 'blog:home' %}" method="GET" class="form-inline my-2 my-lg-0 header-search">
						{% csrf_token %}
						<input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
						<button class="btn btn1 my-2 my-sm-0" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>



				</div>
			</nav>

		</div>
	</header>
	<!--//header-->
	<div class="banner-inner">
	</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{% url 'blog:home' %}">Home</a>
		</li>
		<li class="breadcrumb-item active">Post</li>
	</ol>

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="single.html">
									<img src="{{detail.imageURL}}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> {{detail.created_on}}</a>
									</li>
									<!--<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 201 Likes</a>
									</li>-->
									<li>
										<a href="#">
											<i class="far fa-comment"></i>{{total_comments}}</a>
									</li>
									
								</ul>
							</div>
						</div>

						<h3>
							<a href="single.html">{{detail.title}}</a>
						</h3>
						<p>{{detail.description}}</p>
						
					</div>

					<div class="comment-top">
						<h4>Comments</h4>
						{% for comment in comments %}
						<div class="media">
							<img src="images/t1.jpg" alt="" class="img-fluid" />
							<div class="media-body">
								<h5 class="mt-0">{{comment.user}}</h5>
								<p>{{comment.body}}</p>

								<!--<div class="media mt-3">
									<a class="d-flex pr-3" href="#">
										<img src="images/t2.jpg" alt="" class="img-fluid" />
									</a>
									<div class="media-body">
										<h5 class="mt-0">Richard Spark</h5>
										<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
											Cras a ornare elit.</p>
									</div>
								</div>-->
							</div>
						</div>
						{% endfor %}
					</div>
					{% if request.user.is_authenticated %}
					<div class="comment-top">
						<h4>Leave a Comment</h4>
						<div class="comment-bottom">
							<form method="POST">
								{% csrf_token %}
								<!--<input class="form-control" type="text" name="Name" placeholder="Name" required="">
								<input class="form-control" type="email" name="Email" placeholder="Email" required="">

								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">-->

								<textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>
					{% else %}
					<div class="comment-top">
						<h4>Log in first</h4>
						<div class="comment-bottom">
							<form>
								
								<!--<input class="form-control" type="text" name="Name" placeholder="Name" required="">
								<input class="form-control" type="email" name="Email" placeholder="Email" required="">

								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">-->

								<textarea class="form-control" name="Message" placeholder="Sorry You can't comment. Please Log in First" required=""></textarea>
								
							</form>
						</div>
					</div>
					{% endif %}
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
							<img src="media/newsletter/banner1.jpg" class="card-img-top img-fluid" alt="">
						</div>
						<div class="tech-btm">
							<h4>Sign up to our newsletter</h4>
							<p>Your Data is safe with us</p>
							{% for message in messages %}
								<p style="color: red;">{{message}}</p>
							{% endfor %}
							<form method="POST">
								{% csrf_token %}
								<input type="email" placeholder="Email" required="" name="newsletter">
								<input type="submit" value="Subscribe">
							</form>

						</div>
						<div class="tech-btm">
							<h4>Categories</h4>
							<ul class="list-group single">
								{% for cat in categories %}
								    <a href="{% url 'blog:category' cat.slug %}">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										{{cat.name}}
										<span class="badge badge-primary badge-pill">{{cat.total_post}}</span>
									</li></a>
								{% endfor %}
								
							</ul>
						</div>
						<div class="tech-btm">
							<h4>Top stories of the week</h4>
							{% for fet in feature %}

							<div class="blog-grids row mb-3">
								<div class="col-md-5 blog-grid-left">
									<a href="{% url 'blog:detail' fet.slug %}">
										<img src="{{fet.imageURL}}" class="card-img-top img-fluid" alt="">
									</a>
								</div>
								<div class="col-md-7 blog-grid-right">

									<h5>
										<a href="{% url 'blog:detail' fet.slug %}">{{fet.title|safe|truncatewords:'5'}}</a>
									</h5>
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i>{{fet.created_on}}</span>
									</div>
								</div>

							</div>
							{% endfor %}
							<!--<div class="blog-grids row mb-3">
								<div class="col-md-5 blog-grid-left">
									<a href="single.html">
										<img src="images/6.jpg" class="card-img-top img-fluid" alt="">
									</a>
								</div>
								<div class="col-md-7 blog-grid-right">
									<h5>
										<a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
									</h5>
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> 20 Feb, 2018</span>
									</div>
								</div>

							</div>-->
						</div>
						<div class="single-gd my-5 tech-btm">
							<h4>Our Progress</h4>
							<div class="progress">
								<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
								    aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
								    aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
								    aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
								    aria-valuemax="100"></div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
								    aria-valuemax="100"></div>
							</div>
						</div>
						<!--<div class="single-gd tech-btm text-left">
							<h4>Recent Post</h4>
							<div class="blog-grids">
								<div class="blog-grid-left">
									<a href="single.html">
										<img src="images/b1.jpg" class="card-img-top img-fluid" alt="">
									</a>
								</div>
								<div class="blog-grid-right">

									<h5>
										<a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
									</h5>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>-->
				


					<div class="tech-btm widget_social text-left">
						<h4>Stay Connect</h4>
						<ul>

							<li>
								<a class="twitter" href="#">
									<i class="fab fa-twitter"></i>
									<span class="count">317K</span> Twitter Followers</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span class="count">218k</span> Twitter Followers</a>
							</li>
							<li>
								<a class="dribble" href="#">
									<i class="fab fa-dribbble"></i>

									<span class="count">215k</span> Dribble Followers</a>
							</li>
							<li>
								<a class="pin" href="#">
									<i class="fab fa-pinterest"></i>
									<span class="count">190k</span> Pinterest Followers</a>
							</li>

						</ul>
					</div>
					
				</div>
				</aside>
				<!--//right-->
				</div>
			</div>
	</section>
	<!--//main-->

	<!--footer-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>About US</h3>
					<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
					<div class="read">
						<a href="single.html" class="btn btn-primary read-m">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					<div class="tech-btm">
						<h3>Latest Posts</h3>
						{% for rpost in recent %}
						<div class="blog-grids row mb-3">
							<div class="col-md-5 blog-grid-left">
								<a href="{% url 'blog:detail' rpost.slug %}">
									<img src="{{rpost.imageURL}}" class="card-img-top img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-7 blog-grid-right">

								<h5>
									<a href="{% url 'blog:detail' rpost.slug %}">{{rpost.title}} </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i>{{rpost.created_on}}</span>
								</div>
							</div>

						</div>
						{% endfor %}
						
						
					</div>
				</div>
				<!-- subscribe -->
				
				<!-- //subscribe -->
				</div>
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-google-plus-g"></i>
									<span>Google+</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-pinterest-p"></i>
									<span>Pinterest</span>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p>© 2018 Weblog. All Rights Reserved | Design by
						<a href="http://w3layouts.com/">W3layouts</a>
					</p>

				</div>
			</div>

			<!-- //footer -->


		</div>
	</footer>
	<!---->
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src="{% static 'js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="{% static 'js/bootstrap.js' %}"></script>


</body>

</html>